<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="57107TwinDrills.IRCMessenger" Publisher="CN=5D7B4EC7-993E-42EF-B929-764436D2AF10" Version="1.0.0.5" />
  <Properties>
    <DisplayName>IRC Messenger</DisplayName>
    <PublisherDisplayName>TwinDrills</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="IRCMessenger.App">
      <VisualElements DisplayName="IRC Messenger" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="A  simple chat client for the Internet Relay Chat (IRC) protocol." ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile ShowName="allLogos" ShortName="IRC Messenger" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#000000" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>